body{
  font-family: sans-serif;
}

#event-container{
  width: 100%;
}


.event{
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.header{
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 0.5em;
}

.content{
  font-family: monospace;
}

.event.information{
  background-color: #FAFAFF;
}

.event.data{
  background-color: #FAFFFA;
}

.event.error{
  background-color: #FFFAFA;
}
